:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan-one: hsl(186, 14%, 43%);
    --dark-grayish-cyan-two: hsl(184, 14%, 56%);
    --light-grayish-cyan-one: hsl(185, 41%, 84%);
    --light-grayish-cyan-two: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Space Mono', monospace;
}

#tipCalculator__main {
    background-color: var(--light-grayish-cyan-one);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tipCalculator__title, #tipCalculator__container {
    width: 70%;
}

#tipCalculator__title {
    height: 20%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}
#tipCalculator__title span {
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 0.5em;
    color: var(--very-dark-cyan);
}

#tipCalculator__container {
    height: 60%;
    background: var(--white);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tipCalculator__inputs, #tipCalculator__show {
    height: 90%;
}

#tipCalculator__inputs {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tipCalculator__show {
    background-color:var(--very-dark-cyan);
    width: 40%;
    border-radius: 20px;
}

.tipCalculator__inputFormat {
    padding: 2%;
    color: var(--dark-grayish-cyan-one);
    font-weight: bold;
}

.input__container {
    position: relative;
    font-size: 24px;
}

#input__containerBill::before {
    content: '$';
    top: 14%;
    left: 2%;
    position: absolute;
    color: var(--dark-grayish-cyan-two);
    font-weight: normal;
}

.input__container input {
    width: 90%;
    background: var(--light-grayish-cyan-two);
    border: none;
    border-radius: 5px;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    text-align: right;
    padding-right: 2%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Space Mono', monospace;
    color: var(--very-dark-cyan)
}

.input__container input::placeholder {
    padding-top: 10%;
    text-align: right;
    color: var(--dark-grayish-cyan-two);
 }

 .input__container input:focus {
     outline: none;   
 }

 #tipCalculator__percentage {
    padding: 2%;
    color: var(--dark-grayish-cyan-one);
    font-weight: bold;
 }

 #percentage__buttons {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     width: 97%;
 }

 .buttons {
     width: 27%;
     height: 3em;
     background-color: var(--very-dark-cyan);
     border: none;
     border-radius: 5px;
     color: var(--white);
     margin-top: 1em;
     font-size: 1.3em;
     font-weight: 900;
     font-family: inherit;
     cursor: pointer;;   
 }

 .buttons:last-child {
    background: var(--light-grayish-cyan-two);
    color: var(--dark-grayish-cyan-one);
    letter-spacing: 0.2em;
 }

 #input__containerPeople::before {
    content: url('./images/icon-person.svg');
    top: 14%;
    left: 2%;
    position: absolute;
    color: var(--dark-grayish-cyan-two);
    font-weight: normal;
}